body{
    background: #480000
                url("https://dazedimg-dazedgroup.netdna-ssl.com/786/azure/dazed-prod/1290/9/1299932.jpg")
                no-repeat
                center;
    height: 100vh;
    background-size: cover;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Bahnschrift, monospace;
    font-size: 700%;
    align-items: center;
    justify-content: center;
}

.top_text, .bot_text{
    background: white;
    width: fit-content;
    height: fit-content;
    /*border: 5px solid;*/
    border-radius: 20px;
    padding: 10px;
}

p{
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.top_text{
    position: absolute;
    top: 0;
}
.bot_text{
    position: absolute;
    align-items: center;
    top: 80%;
}

form{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 68%;
    left: 40%;
}

.gay_button{
    border: 2px solid white;
    background: none;
    border-radius: 15px;
    font-size: 35%;
    font-family: Bahnschrift, monospace;
    color: white;
    position: absolute;
    /*top: 70%;*/
}

.gay_button:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.4s;
}

.gay_button:not(:hover){
    transition: 0.4s;
}